.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.tgtStudent:hover {
	background:lightblue;
	/*font: white;*/
	font-weight: bold;
}
.domain{
	cursor:pointer;
}
.domain:hover{
	background:lightblue;
	font-weight: bold;
}
