<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pony Express Tracking</title>

    <!-- Core CSS - Include with every page -->
    <link href="/static/sb-admin-v2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/sb-admin-v2/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/static/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/static/sb-admin-v2/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/static/sb-admin-v2/css/sb-admin.css" rel="stylesheet">

    <!-- d3.js every page -->
    <script src="/static/d3/d3.min.js"></script>

    <!-- Highcharts.js with jquery every page -->
    <script src="/static/sb-admin-v2/js/jquery-1.10.2.js"></script>
    <script src="/static/Highcharts-3.0.9/js/highcharts.js"></script>
    <script src="/static/js/helperHC.js"></script>    

    <!-- Helper CSS -->
    <link href="/static/css/helper.css" rel="stylesheet">

    <!-- Datatables + TableTools -->
    <link href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet">
    <script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <link href="/static/DataTables-1.9.4/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
    <script src="/static/DataTables-1.9.4/extras/TableTools/media/js/TableTools.min.js"></script>

    

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Pony Express Tracking</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li><a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                    <li><a href="/teacher"><i class="fa fa-bar-chart-o fa-fw"></i> Teacher Drill Down</a></li>
                    <li><a href="/"><i class="fa fa-table fa-fw"></i> Student Grid</a></li>
                    <li class="filter">
                        <a href="#"> Grade Level<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a><input type="radio" name="grade">&nbsp&nbspK</input></a></li>
                            <li><a><input type="radio" name="grade">&nbsp&nbsp1</input></a></li>
                            <li><a><input type="radio" name="grade">&nbsp&nbsp2</input></a></li>
                            <li><a><input type="radio" name="grade">&nbsp&nbsp3</input></a></li>
                            <li><a><input type="radio" name="grade">&nbsp&nbsp4</input></a></li>
                            <li><a><input type="radio" name="grade">&nbsp&nbsp5</input></a></li>
                            <li><a><input type="radio" name="grade" checked>&nbsp&nbsp6</input></a></li>                        
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li class="filter">
                        <a href="#"> November 2013<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 1</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 2</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 3</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 4</input></a></li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li class="filter">
                        <a href="#"> December 2013<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 1</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 2</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 3</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 4</input></a></li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li class="filter">
                        <a href="#"> January 2014<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 1</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 2</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 3</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 4</input></a></li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li class="filter">
                        <a href="#"> February 2014<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 1</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 2</input></a></li>
                            <li><a><input type="radio" name="asmt">&nbsp&nbspAssessment 3</input></a></li>
                            <li><a><input type="radio" name="asmt" checked>&nbsp&nbspAssessment 4</input></a></li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>

                <!-- /#side-menu -->
            </div>

            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <!--this is where the page wrapper starts-->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Teacher Drill Down&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="radio" name="cb" onclick="changeChart(optionsTeacherGrade)" checked><label style="font-size: 18px;font-weight: normal">&nbspScore</label></input>
                        <input type="radio" name="cb" onclick="changeChart(optionsTeacherGrowth)"><label style="font-size: 18px;font-weight: normal">&nbspGrowth</label></input>
                    </h3>
                </div>
            </div>

            <!-- /.1st row - assessment score stacked bars -->
            <div class="row" id="row1">
                <div class="col-lg-6">
                    <div class="panel panel-default">
<!--                         <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Prior Year Proficient Students
                        </div> -->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="containerHC3"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <table id="example">
                            <thead>
                                <tr>
                                    <th>Student</th>
                                    <th>Teacher</th>
                                    <th>A1</th>
                                    <th>A2</th>
                                    <th>A3</th>
                                    <th>HS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><p>Barajas, Jorge</p></td>
                                    <td>Teacher A</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Krismon, Becky</td>
                                    <td>Teacher A</td>
                                    <td>1</td>
                                    <td style="background: limegreen;">3</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
            <div class="row" id="row2">
                <div class="col-lg-12">
                    <div class="panel panel-default">
<!--                         <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Prior Year Proficient Students
                        </div> -->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="containerHC2"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
             <!-- 2nd row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
    $(document).ready(function(){
        teacher = new Highcharts.Chart(optionsTeacherGrade);
        $("#row2").hide();
    });
    function changeChart(options){
        return new Highcharts.Chart(options)
    };
    $(document).ready(function() {
        $('#example').dataTable({
            "bPaginate": false,
            "sDom": 'TC<"clear">lfrtip',
            "oTableTools": {
                //"aButtons":["print"],
                //"sSwfPath": "{{url_for('static',filename='copy_csv_xls_pdf.swf')}}"
                "sSwfPath": "/static/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf"
            },
            "search":false
        });
    });
    $("p").click(function (){
        $('#row1').slideToggle("slow");
        $('#row2').slideToggle("slow");
        $(".filter").slideToggle("slow");  
    });



    </script>

    <!-- Core Scripts - Include with every page -->
    <script src="/static/sb-admin-v2/js/bootstrap.min.js"></script>
    <script src="/static/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/static/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/sb-admin-v2/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/static/sb-admin-v2/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/static/sb-admin-v2/js/demo/dashboard-demo.js"></script>



</body>

</html>
