<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pony Express Tracking</title>

    <!-- Core CSS - Include with every page -->
    <link href="/static/sb-admin-v2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/sb-admin-v2/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/static/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/static/sb-admin-v2/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/static/sb-admin-v2/css/sb-admin.css" rel="stylesheet">

    <!-- d3.js every page -->
    <script src="/static/d3/d3.min.js"></script>

    <!-- Highcharts.js with jquery every page -->
    <script src="/static/sb-admin-v2/js/jquery-1.10.2.js"></script>
    <script src="/static/Highcharts-3.0.9/js/highcharts.js"></script>
    <script src="/static/js/helper.js"></script>

    <!-- Helper CSS -->
    <link href="/static/css/helper.css" rel="stylesheet">

    <!-- Datatables + TableTools -->
    <link href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet">
    <script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <link href="/static/DataTables-1.9.4/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
    <script src="/static/DataTables-1.9.4/extras/TableTools/media/js/TableTools.min.js"></script>

    

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Pony Express Tracking</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <form name="update" action="/teacher" method="POST">
                <ul class="nav" id="side-menu">
                    <li><a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                    <li><a href="/teacher"><i class="fa fa-bar-chart-o fa-fw"></i> Teacher Drill Down</a></li>
                    <li><a href="/grid"><i class="fa fa-table fa-fw"></i> Student Grid</a></li>
                    <!-- <li><a href="/domain"><i class="fa fa-table fa-fw"></i> Common Core Test</a></li> -->
                    <li>
                        <a>Grade Level<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        {% for g in grades %}
                            {% if g == f_grade %}
                                <li><a><input type="radio" name="grade" value="{{g}}" onClick="this.form.submit()" checked>&nbsp&nbsp{{g[4:]}}</input></a></li>
                            {% else %}
                                <li><a><input type="radio" name="grade" value="{{g}}" onClick="this.form.submit()">&nbsp&nbsp{{g[4:]}}</input></a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a> Assessments<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        {% for a in assessments %}
                            {% if a == f_assessment %}
                                <li><a><input type="radio" name="asmt" value="{{a}}" onClick="this.form.submit()" checked>&nbsp&nbsp{{a}}</input></a></li>
                            {% else %}
                                <li><a><input type="radio" name="asmt" value="{{a}}" onClick="this.form.submit()" >&nbsp&nbsp{{a}}</input></a></li>
                            {% endif %}
                        {% endfor %}
                         </ul>
                      
                    </li>
                    <li class="historical-filter">
                        <a style="background-color: steelblue;color:white;"> Historical Measures<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a><input type="radio" name="asmt" id="CRTMA" checked></input>CRT MA</a></li>
                            <li><a><input type="radio" name="asmt" id="CRTLA"></input>CRT LA</a></li>
                            <li><a><input type="radio" name="asmt" id="DRA"></input>DRA</a></li>
                            <li><a><input type="radio" name="asmt" id="DWA"></input>DWA</a></li>
                            <li><a><input type="radio" name="asmt" id="ATT"></input>Attendance</a></li>
                         </ul>
                      
                    </li>
                </ul>
            </form>

                <!-- /#side-menu -->
            </div>

            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <!--this is where the page wrapper starts-->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Teacher Drill Down&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <form id="buttons" style="float:right">
                        <input type="radio" name="cb" onclick="changeChart(optionsTeacherGrade)" checked><label style="font-size: 18px;font-weight: normal">&nbspScore</label></input>
                        <input type="radio" name="cb" onclick="changeChart(optionsTeacherGrowth)"><label style="font-size: 18px;font-weight: normal">&nbspGrowth</label></input>
                        </form>
                    </h3>
                </div>
            </div>

            <!-- /.1st row - assessment score stacked bars -->
            <div class="row" id="row1">
                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="containerHC3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel panel-default">
                        <table id="example">
                            <thead>
                                <tr>
                                    <th>Student</th>
                                    <th>Teacher</th>
                                    <th>RTI</th>
                                    <th>A1</th>
                                    <th>A2</th>
                                    <th>A3</th>
                                    <th>HS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in table_vals %}
                                <tr>
                                    {% for i in range(7) %}
                                        {% if i == 0 %}
                                            <td class='tgtStudent' style="cursor: pointer;" onclick="console.log('clicked')">{{t[i]}}</td>
                                        {% else %}
                                            <td>{{t[i]}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
                <div class="row" id="row2">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                 <img src="/static/BlankAvatar.svg.thumb.png" style="float:right;height:130px;padding:0px;">
                                 <h2 style="float:left;" id="studentName">Jorge Barajas</h2>
                                 <div class="btn-group btn-group-xs" style="clear:both;float:left;margin-top:-40px;">
                                      <div class="btn-group"><button type="button" class="btn btn-default" id="b0">SP</button></div>
                                      <div class="btn-group"><button type="button" class="btn btn-default" id="b1">504</button></div>
                                      <div class="btn-group"><button type="button" class="btn btn-default" id="b2">EL</button></div>
                                      <div class="btn-group"><button type="button" class="btn btn-default" id="b3">IN</button></div>
                                      <div class="btn-group"><button type="button" class="btn btn-default" id="b4">LU</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="containerHC4" style="height:200px;"></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="btn-group btn-group-justified" >
                                    <div class="btn-group"><button type="button" class="btn btn-default" style="background-color:#F8F8F8 ">Student<br><h1 id="st-avg">3.2</h1></button></div>
                                    <div class="btn-group"><button type="button" class="btn btn-default" style="background-color:#F8F8F8">Class<br><h1 id="cl-avg">3.4</h1></button></div>
                                    <div class="btn-group"><button type="button" class="btn btn-default" style="background-color:#F8F8F8">Grade<br><h1 id="gr-avg">3.5</h1></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                               <div id="containerHC5"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-lg" id="backBtn" style="background-color:steelblue;color:white">
                            Back
                        </button>
                    </div>
                </div>
                 <!-- 2nd row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
    
    $(document).ready(function(){
        optionsTeacherGrade.xAxis.categories = {{teachers|safe}};
        optionsTeacherGrade.series = {{series|safe}};
        optionsTeacherGrade.title.text = {{chart_title|safe}};
        optionsTeacherGrowth.series = {{growth|safe}};
        optionsTeacherGrowth.title.text = {{chart_title|safe}};
        new Highcharts.Chart(optionsTeacherGrade);
        new Highcharts.Chart(optionsStudentCurrent);
        new Highcharts.Chart(optionsStudentHistorical);
        //new Highcharts.Chart(optionsStudentCurrent);
        $("#row2").hide();
        $(".historical-filter").hide();
    });
    function changeChart(options){
        return new Highcharts.Chart(options)
    };

    // (
    // function($) {
    // /*
    // * Function: fnGetColumnData
    // * Purpose: Return an array of table values from a particular column.
    // * Returns: array string: 1d data array
    // * Inputs: object:oSettings - dataTable settings object. This is always the last argument past to the function
    // * int:iColumn - the id of the column to extract the data from
    // * bool:bUnique - optional - if set to false duplicated values are not filtered out
    // * bool:bFiltered - optional - if set to false all the table data is used (not only the filtered)
    // * bool:bIgnoreEmpty - optional - if set to false empty values are not filtered from the result array
    // * Author: Benedikt Forchhammer <b.forchhammer /AT\ mind2.de>
    // */
    // $.fn.dataTableExt.oApi.fnGetColumnData = function ( oSettings, iColumn, bUnique, bFiltered, bIgnoreEmpty ) {
    // // check that we have a column id
    // if ( typeof iColumn == "undefined" ) return new Array();
             
    // // by default we only want unique data
    // if ( typeof bUnique == "undefined" ) bUnique = true;
             
    // // by default we do want to only look at filtered data
    // if ( typeof bFiltered == "undefined" ) bFiltered = true;
             
    // // by default we do not want to include empty values
    // if ( typeof bIgnoreEmpty == "undefined" ) bIgnoreEmpty = true;
             
    // // list of rows which we're going to loop through
    // var aiRows;
             
    // // use only filtered rows
    // if (bFiltered == true) aiRows = oSettings.aiDisplay;
    // // use all rows
    // else aiRows = oSettings.aiDisplayMaster; // all row numbers
         
    // // set up data array
    // var asResultData = new Array();
             
    // for (var i=0,c=aiRows.length; i<c; i++) {
    // iRow = aiRows[i];
    // var aData = this.fnGetData(iRow);
    // var sValue = aData[iColumn];
                 
    // // ignore empty values?
    // if (bIgnoreEmpty == true && sValue.length == 0) continue;
         
    // // ignore unique values?
    // else if (bUnique == true && jQuery.inArray(sValue, asResultData) > -1) continue;
                 
    // // else push the value onto the result data array
    // else asResultData.push(sValue);
    // }
             
    // return asResultData;
    // }}(jQuery)
    // );
         
         
    function fnCreateSelect( aData )
    {
        var r='<select><option value=""></option>', i, iLen=aData.length;
        for ( i=0 ; i<iLen ; i++ )
        {
            r += '<option value="'+aData[i]+'">'+aData[i]+'</option>';
        }
        return r+'</select>';
    }

    $.fn.dataTableExt.oApi.fnMultiFilter = function( oSettings, oData ) {
        for ( var key in oData )
        {
            if ( oData.hasOwnProperty(key) )
            {
                for ( var i=0, iLen=oSettings.aoColumns.length ; i<iLen ; i++ )
                {
                    if( oSettings.aoColumns[i].sName == key )
                    {
                        /* Add single column filter */
                        oSettings.aoPreSearchCols[ i ].sSearch = oData[key];
                        break;
                    }
                }
            }
        }
        this.oApi._fnReDraw( oSettings );
    };
         
    $(document).ready(function() {
        /* Initialise the DataTable */
        oTable = $('#example').dataTable( {
            "bPaginate": false,
            "sDom": 'TC<"clear">lfrtip',
            "sScrollY": "350px",
            "bScrollCollapse": true,
            "aoColumns":[
                {"sName":"student","sWidth":"20%"},
                {"sName":"teacher","sWidth":"20%"},
                {"sName":"tier3","sWidth":"12%"},
                {"sName":"a1","sWidth":"12%"},
                {"sName":"a2","sWidth":"12%"},
                {"sName":"a3","sWidth":"12%"},
                {"sName":"hs","sWidth":"12%"},
            ],
            // "aoColumnDefs": [
            // { "sWidth": "14%", "aTargets": [ 1,2,3,4,5,6,7 ] },
            // ],
            "oTableTools": {
                "aButtons":["copy","print","xls"],
                //"sSwfPath": "{{url_for('static',filename='copy_csv_xls_pdf.swf')}}"
                "sSwfPath": "/static/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf"
            },
            "search":true
        } );
        
        

        /* Add a select menu for each TH element in the table footer */
        // $("tfoot th").each( function ( i ) {
        // this.innerHTML = fnCreateSelect( oTable.fnGetColumnData(i) );
        // $('select', this).change( function () {
        // oTable.fnFilter( $(this).val(), i );
        // } );
        // } );
        

        // student drill down functions
        function big5(student){
            // this function will change the button background if the student has any of the big5
            var url = '/api/big5/'+student // return back to this format '1 - First Grade'
            var vals = JSON.parse(httpGet(url)), i;
            console.log(vals)
            for(i=0;i<5;i++){
                if(+vals[i]===1){
                    $('#b'+String(i)).css('background-color','lightblue')
                } else {
                    $('#b'+String(i)).css('background-color','white')
                }
            }
        }

        // student drill down functions
        function scores(student){
            // this function will change the button background if the student has any of the big5
            var url = '/api/scores/'+student // return back to this format '1 - First Grade'
            var vals = JSON.parse(httpGet(url));
            return vals
        }

        // get student, class, grade averages
        function averages(student){
            var url = '/api/averages/'+student
            var vals = JSON.parse(httpGet(url));
            $('#st-avg').text(vals[0]);
            $('#cl-avg').text(vals[1]);
            $('#gr-avg').text(vals[2]);
        }

        $(".tgtStudent").click(function (){
            console.log('clicked')
            var st = $(this).text();
            console.log(st)
            big5(st);
            optionsStudentCurrent.series[0].data = scores(st);
            optionsStudentHistorical.series[0].data = [randomIntFromInterval(160,180),randomIntFromInterval(160,182),randomIntFromInterval(165,185),randomIntFromInterval(160,190)]
            averages(st);
            $('#studentName').text(st)
            $('#row1').slideToggle("350");
            $('#row2').slideToggle("350");
            $(".historical-filter").slideToggle("350");
            new Highcharts.Chart(optionsStudentCurrent);
            new Highcharts.Chart(optionsStudentHistorical);
            //$(".filter").slideToggle("slow");
            // oTable.fnMultiFilter({"teacher":"Teacher B"});
        });

        $("#backBtn").click(function(){
            $('#row1').slideToggle("350");
            $('#row2').slideToggle("350");
            $(".historical-filter").slideToggle("350");
        })

    } );
    

    </script>

    <!-- Core Scripts - Include with every page -->
    <script src="/static/sb-admin-v2/js/bootstrap.min.js"></script>
    <script src="/static/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/static/sb-admin-v2/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/static/sb-admin-v2/js/demo/dashboard-demo.js"></script>



</body>

</html>